.modal-video {
    &__wrapper {
        min-height: 100%;
        padding-bottom: size(100);
        display: flex;
        flex-direction: column;
    }
    &__header {
        @include media(lg) {
            height: size(100);
        }
    }
    &__box { 
        margin: 0 auto;
        max-width: size(1000);
        width: 100%;
        position: relative;
        flex: 1 0 auto;
        display: flex;
    }
    &__video {
        --adaptive-box: #{size(315, 560,'%')};
        margin: auto;
    }
    &__close {
        margin:auto 0 auto auto;
    }
}