.modal-form {
    background-color: #fff;
    //color: #fff;
    &__box {
        margin: auto;
        position: relative;
    }
    &__wrapper {
        padding: size(50) 0;
        @include media(lg) {
            padding: size(100) 0;
        }
    }
    &__close {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: size(10);
        font-size: size(24);
        @include media(lg) {
            font-size: size(28);
            //top: size(30);
        }
    }
}