.adaptive-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    --dp-block: block;
    display: var(--dp-block);
    &__wrapper {
        padding:0px 0px var(--adaptive-box) 0px;
    }
    &__item {
        z-index: 2;
        object-fit: cover;
        position: absolute;
        width: 100%;
        height:100%;
        left: 0;
        top: 0;
    }
}
