$social-primary: #000;

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    border-radius: 50%;
    overflow: hidden;
    background-color: $social-primary;
    position: relative;
    transition-duration: $td;

    font-size: size(64);

    //*
    .icon {   
        color: #fff;
        font-size: 0.5em;
    }
    &:hover {
        background-color: rgb(43, 43, 43);
    }
    &--outline {
        background: none;
        border: 1px solid $social-primary;
        .icon {   
            color:$social-primary;
        }
        &:hover {
            background-color: $social-primary;
            .icon {   
                color: #fff;
            }
        }
    }
    //*
    &-group {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
}