@import 'base/index';
//*
@import 'elements/index';
//*
@import 'animation/index';
//*
@import 'typography/index';
//*
@import 'btn/index';
//*
//@import 'social/social';
//* бегущая строка
//@import 'ticker/ticker'
//*
@import 'menu/index';