.loader {
    height: 1em;
    width: 1em;
    display: block;
    overflow: hidden;
    position: relative;
    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid currentColor;
        border-radius: 50%;
    }
    &:after {
        opacity: 0.15;
    }
    &:before {
        border-bottom-color: transparent;
        border-top-color: transparent;
        animation: loading 1.5s linear infinite;
    }
    &--center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    &--size {
        &-sm {
            font-size: size(40);
        }   
        &-md {
            font-size: size(60);
        }   
        &-lg {
            font-size: size(80);
        }      
    }
}