$social-primary: #000;

.social {
    --dp-flex: flex;
    display: var(--dp-flex);
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 1em;
    height: 1em;
    overflow: hidden;
    background-color: $social-primary;
    position: relative;
    transition-duration: $td;
    
    //*
    .icon {   
        color: #fff;
        font-size: 0.5em;
    }
    &:hover {
        background-color: rgb(43, 43, 43);
    }
    &--size {
        font-size: size(40);
        @include media(lg) {
            font-size: size(64);
        }
    }
    &--circle {
        border-radius: 50%;
    }
    &--outline {
        background: none;
        border: 1px solid $social-primary;
        .icon {   
            color:$social-primary;
        }
        &:hover {
            background-color: $social-primary;
            .icon {   
                color: #fff;
            }
        }
    }
    //*
    &-group {
        --dp-flex: flex;
        display: var(--dp-flex);
        flex-wrap: wrap;
        position: relative;
        & > * {
            margin-right:size(25);
        }
    }
}