:root {
  --animation-left: -100%;
  --animation-right: 100%;
  --animation-top: -100%;
  --animation-bottom: 100%;
  --columns: 12;
  --body-font-size: 0.14rem;
  --gap-x: 20px;
  --gap-y: 20px;
  --container-gap: 15px;
}

body {
  line-height: 1.35;
  font-weight: 400;
  font-size: var(--body-font-size);
  font-family: "", sans-serif;
  margin: 0;
  color: #000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

b,
strong {
  font-weight: 700;
}

:root {
  --width-max-window: 100vw;
  --width-min-window: 320;
  --width-min-window-px: 320px;
  --min-value: 100;
  --min-value-px: 100px;
  --max-value: 150;
  font-size: calc( var(--min-value-px) + (var(--max-value) - var(--min-value)) * ((var(--width-max-window) - var(--width-min-window-px)) / (1920 - var(--width-min-window))));
}

.grid {
  --grid-gap-x: var(--gap-x);
  --grid-gap-y: var(--gap-y);
  --grid-columns: var(--columns);
}

.container,
.container-xs,
.container-md,
.container-lg,
.container-full {
  --local-container-gap: var(--container-gap);
  --dp-block: block;
  display: var(--dp-block);
  width: 100%;
  padding-left: var(--local-container-gap);
  padding-right: var(--local-container-gap);
  margin-left: auto;
  margin-right: auto;
}

br {
  --dp-inline: inline;
  display: var(--dp-inline);
}

.icon {
  width: 1em;
  height: 1em;
  --dp-block: block;
  display: var(--dp-block);
  flex: 0 0 auto;
  fill: currentColor;
  -webkit-transition: all 400ms 0s;
  -o-transition: all 400ms 0s;
  transition: all 400ms 0s;
  position: relative;
}

.icon--no-fill {
  fill: none;
}

.icon--stroke {
  stroke: currentColor;
}

.icon--only-stroke {
  fill: none;
  stroke: currentColor;
}

.loader {
  height: 1em;
  width: 1em;
  display: block;
  overflow: hidden;
  position: relative;
}

.loader:after,
.loader:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid currentColor;
  border-radius: 50%;
}

.loader:after {
  opacity: 0.15;
}

.loader:before {
  border-bottom-color: transparent;
  border-top-color: transparent;
  -webkit-animation: loading 1.5s linear infinite;
          animation: loading 1.5s linear infinite;
}

.loader--center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.loader--size-sm {
  font-size: 0.4rem;
}

.loader--size-md {
  font-size: 0.6rem;
}

.loader--size-lg {
  font-size: 0.8rem;
}

.adaptive-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  --dp-block: block;
  display: var(--dp-block);
}

.adaptive-box:after {
  content: '';
  padding: 0px 0px var(--adaptive-box) 0px;
  width: 100%;
  display: block;
}

.adaptive-box > * {
  position: absolute;
}

.adaptive-box__image,
.adaptive-box__item {
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.adaptive-box__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  color: currentColor;
}

.link:active {
  color: #000;
}

.animation {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animation.start {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loading-n {
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

@keyframes loading-n {
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

.title {
  --dp-block: block;
  display: var(--dp-block);
  font-weight: 700;
  line-height: 1.15;
  word-wrap: break-word;
}

.title--size-sm {
  font-size: 0.24rem;
}

.title--size-md {
  font-size: 0.24rem;
}

.title--size-lg {
  font-size: 0.24rem;
}

.btn {
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn--primary {
  --dp-flex: flex;
  display: var(--dp-flex);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 500px;
  background: #000;
  color: #fff;
}

.btn--primary .icon {
  color: #fff;
}

.btn--primary:active {
  background: #585858;
}

.btn--circle {
  --dp-flex: flex;
  display: var(--dp-flex);
  align-items: center;
  justify-content: center;
  line-height: 1;
  --btn-circle: 2rem;
  border-radius: 50%;
  height: var(--btn-circle);
  width: var(--btn-circle);
  background: #000;
  color: #fff;
}

.btn--circle:active {
  background: #585858;
}

.btn--outline {
  border: 1px solid #000;
  color: currentColor;
  background-color: transparent;
}

.btn--outline .icon {
  color: currentColor;
}

.btn--outline:active {
  color: #fff;
  background: #000;
}

.btn--outline:active .icon {
  color: #fff;
}

.btn--size-md {
  font-size: 0.2rem;
  padding: 0.16rem 0.32rem;
}

.social {
  --dp-flex: flex;
  display: var(--dp-flex);
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 1em;
  height: 1em;
  overflow: hidden;
  background-color: #000;
  position: relative;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.social .icon {
  color: #fff;
  font-size: 0.5em;
}

.social:hover {
  background-color: #2b2b2b;
}

.social--size {
  font-size: 0.42rem;
}

.social--circle {
  border-radius: 50%;
}

.social--outline {
  background: none;
  border: 1px solid #000;
}

.social--outline .icon {
  color: #000;
}

.social--outline:hover {
  background-color: #000;
}

.social--outline:hover .icon {
  color: #fff;
}

.social-group {
  --dp-flex: flex;
  display: var(--dp-flex);
  flex-wrap: wrap;
  position: relative;
}

.social-group > * {
  margin-right: 0.25rem;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

/* a11y */

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-controller {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.swiper-controller .swiper-pagination-progressbar {
  width: 3rem;
  margin-right: 0.5rem;
}

.swiper-controller .swiper-pagination-fraction {
  margin: 0 0.2rem;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-flip {
  overflow: visible;
}

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* Preloader */

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid currentColor;
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-button-group {
  display: flex;
  align-items: center;
}

.swiper-button-group .swiper-button-prev {
  margin-right: 0.24rem;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  font-size: 0.44rem;
  cursor: pointer;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.swiper-button-prev .icon,
.swiper-button-next .icon {
  font-size: 1em;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.2;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev._center-y,
.swiper-button-next._center-y {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  z-index: 10;
}

.swiper-button-prev._circle,
.swiper-button-next._circle {
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 0.44rem;
}

.swiper-button-prev._circle .icon,
.swiper-button-next._circle .icon {
  font-size: 0.4em;
}

.swiper-button-prev .icon,
.swiper-container-rtl .swiper-button-next .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-prev._center-y,
.swiper-container-rtl .swiper-button-next._center-y {
  left: 10px;
  right: auto;
}

.swiper-button-next._center-y,
.swiper-container-rtl .swiper-button-prev._center-y {
  right: 10px;
  left: auto;
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: relative;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Bullets */

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  margin: 0 auto;
  white-space: nowrap;
}

.swiper-pagination-bullet {
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #a3a3a3;
  font-size: 0.24rem;
  flex: 0 0 auto;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 0.5em;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.swiper-pagination._custom .swiper-pagination-bullet {
  width: 0.44rem;
  height: 0.44rem;
  font-size: 0.24rem;
  color: #fff;
}

/* Progress */

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  height: 4px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.wow {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  color: currentColor;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: currentColor;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
  color: currentColor;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: currentColor;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  --dp-block: block;
  display: var(--dp-block);
  position: relative;
  width: 100%;
  font-size: 0.18rem;
  border: 1px solid #000;
}

.form-field:active {
  color: #000;
}

.form-field__input {
  color: currentColor;
  width: 100%;
  display: block;
}

.form-field__input::-webkit-input-placeholder {
  opacity: 0;
}

.form-field__input::-moz-placeholder {
  opacity: 0;
}

.form-field__input::-ms-input-placeholder {
  opacity: 0;
}

.form-field__input::placeholder {
  opacity: 0;
}

.form-field__input:not(:-moz-placeholder-shown) ~ .form-field__text {
  opacity: 0;
}

.form-field__input:focus ~ .form-field__text,
.form-field__input:not(:placeholder-shown) ~ .form-field__text {
  opacity: 0;
}

.form-field__input:-webkit-autofill {
  -webkit-text-fill-color: currentColor;
  -webkit-transition: background-color 500000s ease-in-out 0s;
  transition: background-color 500000s ease-in-out 0s;
}

.form-field__email,
.form-field__number,
.form-field__input,
.form-field__required,
.form-field__text {
  font-size: 1em;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  padding: 0.25rem 0.4rem;
}

.form-field__email,
.form-field__number,
.form-field__required,
.form-field__text {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.form-field__text {
  color: currentColor;
}

.form-field__text span {
  color: red;
}

.form-field__email,
.form-field__number,
.form-field__required {
  color: red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}

.form-field._required:not(._number) > * {
  opacity: 0;
}

.form-field._required:not(._number) .form-field__required {
  opacity: 1;
}

.form-field._email > * {
  opacity: 0;
}

.form-field._email .form-field__email {
  opacity: 1;
}

.form-field._number > * {
  opacity: 0;
}

.form-field._number .form-field__number {
  opacity: 1;
}

.form-file {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.form-file__controller {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  width: 100%;
  font-size: 0.24rem;
  height: 0.8rem;
  padding: 0 0.4rem;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.form-file__controller:hover {
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.form-file__input {
  display: none;
}

.form-file__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 0px;
  overflow: hidden;
  -webkit-transition-duration: 100ms;
       -o-transition-duration: 100ms;
          transition-duration: 100ms;
}

.form-file__quantity._active {
  padding-left: 15px;
  max-width: none;
}

.form-file__quantity._active .form-file__loader {
  opacity: 0;
  -webkit-transition-delay: 375ms;
       -o-transition-delay: 375ms;
          transition-delay: 375ms;
}

.form-file__quantity._active .form-file__number,
.form-file__quantity._active .form-file__icon {
  opacity: 1;
  -webkit-transition-delay: 375ms;
       -o-transition-delay: 375ms;
          transition-delay: 375ms;
}

.form-file__loader {
  position: absolute;
  z-index: 2;
  -webkit-transition-duration: 150ms;
       -o-transition-duration: 150ms;
          transition-duration: 150ms;
}

.form-file__number {
  margin-left: 6px;
  opacity: 0;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}

.form-file__icon {
  opacity: 0;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}

.form-textarea {
  position: relative;
  display: block;
  border-radius: 0.3rem;
  border: 1px solid #b9b9b9;
  padding: 0.3rem;
}

.form-textarea._required {
  border-color: red;
}

.form-textarea__input {
  resize: none;
  width: 100%;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.form-textarea__text {
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  z-index: 2;
  pointer-events: none;
}

.form-textarea__text span {
  color: red;
}

.form-radio-group {
  display: flex;
  flex-wrap: wrap;
}

.form-radio {
  margin: 0 size-x(20) size-x(20) 0;
  display: block;
  position: relative;
}

.form-radio__input {
  opacity: 0;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer;
}

.form-radio__input:hover ~ .form-radio__controller {
  background-color: #000;
  color: #fff;
}

.form-radio__input:checked {
  cursor: auto;
}

.form-radio__input:checked ~ .form-radio__controller {
  background-color: #000;
  color: #fff;
}

.form-radio__box {
  position: relative;
  z-index: 1;
  border: 1px solid currentColor;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  padding: size-x(18) size-x(42);
  display: block;
}

/*
<span class="form-checkbox">
    <input class="form-checkbox__input" type="checkbox">
    <span class="form-checkbox__decor"></span>
    <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>
</span>
 */

.form-checkbox {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 0.28rem;
  align-items: center;
  justify-content: center;
}

.form-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.form-checkbox__input:checked ~ .form-checkbox__decor {
  border-color: #000;
  --checkbox-decor-size: 1;
}

.form-checkbox__input:checked ~ .icon {
  opacity: 1;
}

.form-checkbox__decor {
  position: relative;
  height: 1em;
  width: 1em;
  border: 1px solid #000;
  --checkbox-decor-size: 0;
}

.form-checkbox__decor:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  height: 0.714em;
  width: 0.714em;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(var(--checkbox-decor-size));
          transform: translate3d(-50%, -50%, 0) scale(var(--checkbox-decor-size));
  background-color: #000;
}

.form-checkbox--icon {
  border: 1px solid #000;
  color: #000;
  height: 1em;
  width: 1em;
}

.form-checkbox--icon .icon {
  position: absolute;
  opacity: 0;
  font-size: 0.6em;
  margin-top: 0.05em;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.form-send {
  position: relative;
  z-index: 20;
}

.form-send__message {
  display: none;
  position: absolute;
  padding: 1em;
  width: 100%;
  left: 0;
  bottom: calc(100% + 0.2rem);
  text-align: center;
  -webkit-box-shadow: 0px 4px 0.4rem rgba(28, 46, 64, 0.06);
          box-shadow: 0px 4px 0.4rem rgba(28, 46, 64, 0.06);
  background: #000;
  color: #fff;
}

.form-send__message:before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-top: 8px solid #000;
  top: 100%;
  left: calc(50% - 8px);
}

.form-send .btn {
  width: 100%;
}

.form-send__loading {
  position: relative;
}

.form-send__loading span {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: 2px solid currentColor;
  display: block;
  margin: 0 auto;
  border-bottom: 0;
  border-right: 0;
  -webkit-animation: loading .5s infinite linear;
          animation: loading .5s infinite linear;
}

.form-send__success {
  display: none;
}

.form-send__error {
  display: none;
}

.menu {
  --dp-block: block;
  display: var(--dp-block);
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__list-item {
  margin-right: 0.4rem;
}

.menu__link {
  color: currentColor;
}

/* 
<div class="questions">
    <div class="questions-item">
        <div class="questions-item__header">
            <div class="questions-item__title"></div>
            <div class="questions-item__toggel _plus"></div>
        </div>
        <div class="questions-item__body"></div>
    </div>
</div>
*/

.questions {
  display: flex;
  flex-direction: column;
}

.questions-item {
  margin-bottom: 0.25rem;
}

.questions-item__header {
  background-color: #f1f1f1;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.questions-item__header._active .questions-item__toggel._plus:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.questions-item__header._active .questions-item__toggel._plus:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.questions-item__header._active .questions-item__toggel._arrow .icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.questions-item__title {
  margin-right: 0.25rem;
}

.questions-item__toggel {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questions-item__toggel._plus {
  height: 1em;
  width: 1em;
  font-size: 0.25rem;
  position: relative;
  color: #A6A673;
  flex: 0 0 auto;
}

.questions-item__toggel._plus:before,
.questions-item__toggel._plus:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: currentColor;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.questions-item__toggel._plus:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questions-item__toggel._arrow .icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questions-item__body {
  display: none;
  padding: 0.2rem;
}

.video {
  --adaptive-box: 56.25%;
}

.video._active .video__frame {
  z-index: 4;
}

.video__preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.video__btn {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.video__frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.slider {
  position: relative;
}

.slider__wrapper {
  position: relative;
}

.slider-controller {
  display: flex;
  align-items: center;
}

.slider-controller .slider-button-group {
  margin-left: 0.25rem;
}

.slider-button-group {
  display: flex;
  align-items: center;
}

.slider-button-group .slider-button:not(:last-child) {
  margin-right: 0.25rem;
}

.slider-button {
  height: 1em;
  width: 1em;
  font-size: 0.6rem;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.slider-button .icon {
  font-size: 0.24rem;
}

.slider-button-prev .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 1px;
}

.slider-button--center {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.slider-button--center.slider-button-prev {
  right: calc(100% + 0.2rem);
}

.slider-button--center.slider-button-next {
  left: calc(100% + 0.2rem);
}

.grid {
  --dp-grid: grid;
  display: var(--dp-grid);
  grid-template-columns: repeat(var(--grid-columns), calc(((100% + var(--grid-gap-x)) / (var(--grid-columns) / 1)) - var(--grid-gap-x)));
  grid-gap: var(--grid-gap-y) var(--grid-gap-x);
}

@supports (gap: var(--gap)) {
  .grid {
    gap: var(--grid-gap-y) var(--grid-gap-x);
  }
}

.grid > * {
  --col: var(--grid-columns);
  --row: 1;
  --col-start: auto;
  --row-start: auto;
  grid-area: var(--row-start)/var(--col-start)/span var(--row)/span var(--col);
}

.grid[class*=" m:align-"],
.grid[class^="m:align-"] {
  align-items: var(--align);
  justify-items: var(--justify);
}

[class*=" m:align-"],
[class^="m:align-"] {
  --align: initial;
  --justify: initial;
  align-items: var(--align);
  justify-content: var(--justify);
}

.box,
.box-center,
.box-center-x,
.box-center-y,
.box-reverse,
.box-y,
.box-y-reverse {
  --dp-flex: flex;
  display: var(--dp-flex);
}

.item {
  --dp-block: block;
  display: var(--dp-block);
}

.col-1 {
  --col: 1;
}

.col-2 {
  --col: 2;
}

.col-3 {
  --col: 3;
}

.col-4 {
  --col: 4;
}

.col-5 {
  --col: 5;
}

.col-6 {
  --col: 6;
}

.col-7 {
  --col: 7;
}

.col-8 {
  --col: 8;
}

.col-9 {
  --col: 9;
}

.col-10 {
  --col: 10;
}

.col-11 {
  --col: 11;
}

.col-12 {
  --col: 12;
}

.row-1 {
  --row: 1;
}

.row-2 {
  --row: 2;
}

.row-3 {
  --row: 3;
}

.row-4 {
  --row: 4;
}

.row-5 {
  --row: 5;
}

.row-6 {
  --row: 6;
}

.row-7 {
  --row: 7;
}

.row-8 {
  --row: 8;
}

.row-9 {
  --row: 9;
}

.row-10 {
  --row: 10;
}

.row-11 {
  --row: 11;
}

.row-12 {
  --row: 12;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.g\:columns-2 {
  --grid-columns: 2;
}

.g\:columns-3 {
  --grid-columns: 3;
}

.g\:columns-4 {
  --grid-columns: 4;
}

.g\:columns-5 {
  --grid-columns: 5;
}

.g\:columns-6 {
  --grid-columns: 6;
}

.g\:columns-7 {
  --grid-columns: 7;
}

.g\:columns-8 {
  --grid-columns: 8;
}

.g\:columns-9 {
  --grid-columns: 9;
}

.g\:columns-10 {
  --grid-columns: 10;
}

.g\:columns-11 {
  --grid-columns: 11;
}

.g\:columns-12 {
  --grid-columns: 12;
}

.g\:cs-1 {
  --col-start: 1;
}

.g\:cs-2 {
  --col-start: 2;
}

.g\:cs-3 {
  --col-start: 3;
}

.g\:cs-4 {
  --col-start: 4;
}

.g\:cs-5 {
  --col-start: 5;
}

.g\:cs-6 {
  --col-start: 6;
}

.g\:cs-7 {
  --col-start: 7;
}

.g\:cs-8 {
  --col-start: 8;
}

.g\:cs-9 {
  --col-start: 9;
}

.g\:cs-10 {
  --col-start: 10;
}

.g\:cs-11 {
  --col-start: 11;
}

.g\:cs-auto {
  --col-start: auto;
}

.g\:col-auto {
  --col: auto;
}

.g\:gap-0 {
  --local-container-gap: 0px;
  --grid-gap-x: 0px;
  --grid-gap-y: 0px;
  --gap-n: 0px;
}

.g\:gap-n {
  --gap-n: calc(var(--local-container-gap) / -1);
  margin-right: var(--gap-n);
  margin-left: var(--gap-n);
}

.g\:gap-x {
  --grid-gap-x: var(--gap-x);
}

.g\:gap-x-0 {
  --grid-gap-x: 0px;
}

.g\:gap-y {
  --grid-gap-y: var(--gap-y);
}

.g\:gap-y-0 {
  --grid-gap-y: 0px;
}

.g\:rs-1 {
  --row-start: 1;
}

.g\:rs-2 {
  --row-start: 2;
}

.g\:rs-3 {
  --row-start: 3;
}

.g\:rs-4 {
  --row-start: 4;
}

.g\:rs-5 {
  --row-start: 5;
}

.g\:rs-6 {
  --row-start: 6;
}

.g\:rs-7 {
  --row-start: 7;
}

.g\:rs-8 {
  --row-start: 8;
}

.g\:rs-9 {
  --row-start: 9;
}

.g\:rs-10 {
  --row-start: 10;
}

.g\:rs-11 {
  --row-start: 11;
}

.g\:rs-auto {
  --row-start: auto;
}

.g\:rows-fixed {
  grid-auto-rows: 1fr;
}

.box {
  --align: flex-start;
  --justify: initial;
}

.box-reverse {
  flex-direction: row-reverse;
}

.box-reverse[class*=" m:align-"],
.box-reverse[class^="m:align-"] {
  align-items: var(--align);
  justify-content: var(--justify-r-x);
}

.box-y {
  flex-direction: column;
}

.box-y[class*=" m:align-"],
.box-y[class^="m:align-"] {
  align-items: var(--justify);
  justify-content: var(--align);
}

.box-y-reverse {
  flex-direction: column-reverse;
}

.box-y-reverse[class*=" m:align-"],
.box-y-reverse[class^="m:align-"] {
  align-items: var(--justify);
  justify-content: var(--align-r-y);
}

.box-center {
  --justify: center;
  justify-content: var(--justify);
}

.box-center,
.box-center-y {
  --align: center;
  align-items: var(--align);
}

.box-center-x {
  --justify: center;
  justify-content: var(--justify);
}

.inline {
  --dp-inline: inline;
  display: var(--dp-inline);
}

.t\:100 {
  font-weight: 100;
}

.t\:200 {
  font-weight: 200;
}

.t\:300 {
  font-weight: 300;
}

.t\:400 {
  font-weight: 400;
}

.t\:500 {
  font-weight: 500;
}

.t\:600 {
  font-weight: 600;
}

.t\:700 {
  font-weight: 700;
}

.t\:800 {
  font-weight: 800;
}

.t\:left {
  text-align: left;
}

.t\:right {
  text-align: right;
}

.t\:center {
  text-align: center;
}

.t\:italic {
  font-style: italic;
}

.t\:no-italic {
  font-style: normal;
}

.t\:uppercase {
  text-transform: uppercase;
}

.t\:transform-none {
  text-transform: none;
}

.m\:inline {
  --dp-flex: inline-flex;
  --dp-grid: inline-grid;
  --dp-block: inline-block;
  --dp-inline: inline;
}

.m\:block {
  --dp-flex: flex;
  --dp-grid: grid;
  --dp-block: block;
  --dp-inline: block;
}

.m\:hide,
.m\:show\@lg,
.m\:show\@md {
  --dp-flex: none;
  --dp-grid: none;
  --dp-block: none;
  --dp-inline: none;
}

.m\:axis-x {
  flex-direction: row;
}

.m\:axis-x[class*=" m:align-"],
.m\:axis-x[class^="m:align-"] {
  align-items: var(--align);
  justify-content: var(--justify);
}

.m\:axis-x-r {
  flex-direction: row-reverse;
}

.m\:axis-x-r[class*=" m:align-"],
.m\:axis-x-r[class^="m:align-"] {
  align-items: var(--align);
  justify-content: var(--justify-r-x);
}

.m\:axis-y {
  flex-direction: column;
}

.m\:axis-y[class*=" m:align-"],
.m\:axis-y[class^="m:align-"] {
  align-items: var(--justify);
  justify-content: var(--align);
}

.m\:axis-y-r {
  flex-direction: column-reverse;
}

.m\:axis-y-r[class*=" m:align-"],
.m\:axis-y-r[class^="m:align-"] {
  align-items: var(--justify);
  justify-content: var(--align-r-y);
}

.m\:left {
  margin-right: auto;
  margin-left: 0;
}

.m\:left-0,
.m\:right {
  margin-right: 0;
}

.m\:right {
  margin-left: auto;
}

.m\:right-0 {
  margin-left: 0;
}

.m\:top {
  margin-bottom: auto;
  margin-top: 0;
}

.m\:bottom,
.m\:top-0 {
  margin-bottom: 0;
}

.m\:bottom {
  margin-top: auto;
}

.m\:bottom-0 {
  margin-top: 0;
}

.m\:center {
  margin: auto;
}

.m\:center-0 {
  margin: 0;
}

.m\:center-x {
  margin-left: auto;
  margin-right: auto;
}

.m\:center-x-0 {
  margin-left: 0;
  margin-right: 0;
}

.m\:center-y {
  margin-top: auto;
  margin-bottom: auto;
}

.m\:center-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m\:align-right {
  --justify: flex-end;
  --justify-r-x: flex-start;
}

.m\:align-left {
  --justify: flex-start;
  --justify-r-x: flex-end;
}

.m\:align-bottom {
  --align: flex-end;
  --align-r-y: flex-start;
}

.m\:align-top {
  --align: flex-start;
  --align-r-y: flex-end;
}

.m\:align-center {
  --align: center;
  --align-r-y: center;
}

.m\:align-center,
.m\:align-center-x {
  --justify: center;
  --justify-r-x: center;
}

.m\:align-center-y {
  --align: center;
  --align-r-y: center;
}

.m\:align-stretch {
  --align: stretch;
  --align-r-y: stretch;
}

.m\:align-stretch,
.m\:align-stretch-x {
  --justify: stretch;
  --justify-r-x: stretch;
}

.m\:align-stretch-y {
  --align: stretch;
  --align-r-y: stretch;
}

.m\:relative {
  position: relative;
}

.m\:static {
  position: static;
}

.m\:rotate-0 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.m\:rotate-45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.m\:rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.m\:rotate-135 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.m\:rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.m\:rotate-225 {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.m\:rotate-270 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.m\:rotate-315 {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.home {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: none;
  overflow: hidden;
}

.modal._index {
  z-index: 1999;
}

.modal__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__box {
  margin: auto;
  padding-bottom: 1rem;
}

.modal__close .icon {
  color: #000;
}

.modal__close:active .icon {
  color: #000;
}

.modal__header {
  height: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 20;
  padding: 0 0.15rem;
  flex: 0 0 auto;
}

.modal__header-close {
  margin-left: auto;
}

.modal--theme-primary {
  background: #ffffff;
}

.modal--theme-secondary {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.modal-politic {
  position: relative;
  background-color: #fff;
}

.modal-politic__box {
  margin: auto;
  position: relative;
  padding: 0;
}

.modal-politic__wrapper {
  background-color: #fff;
  max-width: 6rem;
  padding: 0.5rem 0.15rem;
}

.modal-politic__close {
  position: absolute;
  right: 0.15rem;
  top: 0.3rem;
}

.modal-politic__title {
  margin-bottom: 0.2rem;
}

.modal-form {
  position: relative;
  background-color: #fff;
}

.modal-form__box {
  margin: auto;
  position: relative;
  padding: 0;
}

.modal-form__wrapper {
  background-color: #fff;
  max-width: 6rem;
  padding: 0.5rem 0.15rem;
}

.modal-form__close {
  position: absolute;
  right: 0.15rem;
  top: 0.3rem;
}

.modal-video {
  position: relative;
}

.modal-video__box {
  margin: auto;
  max-width: 12rem;
  width: 100%;
  position: relative;
  --adaptive-box: height(560,315);
}

.modal-video__frame {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.modal-video__loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  font-size: 4em;
  z-index: 1;
}

.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: #fafafa;
  overflow: hidden;
  display: none;
}

.menu-modal__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0.3rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-modal__header {
  display: flex;
}

.menu-modal__box {
  display: flex;
  flex: 1;
}

.menu-modal__list {
  margin: auto;
}

.menu-toggle {
  position: relative;
  --dp-flex: flex;
  display: var(--dp-flex);
  align-items: center;
  cursor: pointer;
  font-size: 40px;
  color: currentColor;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}

.menu-toggle__icon {
  display: block;
  position: relative;
  background-color: currentColor;
  height: 0.1em;
  width: 0.8em;
  border-radius: 20px;
  -webkit-transition: background 0s 0.3s, width 0.3s 0.3s;
  -o-transition: background 0s 0.3s, width 0.3s 0.3s;
  transition: background 0s 0.3s, width 0.3s 0.3s;
  margin: 0.45em 0 0.45em 0.2em;
}

.menu-toggle__icon:after,
.menu-toggle__icon:before {
  content: "";
  position: absolute;
  background-color: currentColor;
  right: 0;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  -webkit-transition: bottom 0.3s 0.3s,  width 0.3s 0.6s,  -webkit-transform 0.3s  0s;
  transition: bottom 0.3s 0.3s,  width 0.3s 0.6s,  -webkit-transform 0.3s  0s;
  -o-transition: transform 0.3s  0s,  bottom 0.3s 0.3s,  width 0.3s 0.6s;
  transition: transform 0.3s  0s,  bottom 0.3s 0.3s,  width 0.3s 0.6s;
  transition: transform 0.3s  0s,  bottom 0.3s 0.3s,  width 0.3s 0.6s,  -webkit-transform 0.3s  0s;
}

.menu-toggle__icon:after {
  bottom: 0.25em;
  width: 1em;
}

.menu-toggle__icon:before {
  bottom: -0.25em;
  width: 0.6em;
}

.menu-toggle__text {
  font-size: 0.24rem;
  margin-left: 0.2rem;
  line-height: 1;
}

.menu-toggle._active .menu-toggle__icon {
  background: none;
}

.menu-toggle._active .menu-toggle__icon:after,
.menu-toggle._active .menu-toggle__icon:before {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.3s,  width 0.3s 0s,  -webkit-transform 0.3s 0.6s;
  transition: bottom 0.3s 0.3s,  width 0.3s 0s,  -webkit-transform 0.3s 0.6s;
  -o-transition: transform 0.3s 0.6s,  bottom 0.3s 0.3s,  width 0.3s 0s;
  transition: transform 0.3s 0.6s,  bottom 0.3s 0.3s,  width 0.3s 0s;
  transition: transform 0.3s 0.6s,  bottom 0.3s 0.3s,  width 0.3s 0s,  -webkit-transform 0.3s 0.6s;
}

.menu-toggle._active .menu-toggle__icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-toggle._active .menu-toggle__icon:before {
  width: 1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 480px) {
  .container {
    max-width: 440px;
  }
}

@media (min-width: 640px) {
  .container,
  .container-xs {
    max-width: 520px;
  }
}

@media (min-width: 768px) {
  .container-xs,
  .container,
  .container-md {
    max-width: 720px;
  }

  .col-1\@md {
    --col: 1;
  }

  .col-2\@md {
    --col: 2;
  }

  .col-3\@md {
    --col: 3;
  }

  .col-4\@md {
    --col: 4;
  }

  .col-5\@md {
    --col: 5;
  }

  .col-6\@md {
    --col: 6;
  }

  .col-7\@md {
    --col: 7;
  }

  .col-8\@md {
    --col: 8;
  }

  .col-9\@md {
    --col: 9;
  }

  .col-10\@md {
    --col: 10;
  }

  .col-11\@md {
    --col: 11;
  }

  .col-12\@md {
    --col: 12;
  }

  .row-1\@md {
    --row: 1;
  }

  .row-2\@md {
    --row: 2;
  }

  .row-3\@md {
    --row: 3;
  }

  .row-4\@md {
    --row: 4;
  }

  .row-5\@md {
    --row: 5;
  }

  .row-6\@md {
    --row: 6;
  }

  .row-7\@md {
    --row: 7;
  }

  .row-8\@md {
    --row: 8;
  }

  .row-9\@md {
    --row: 9;
  }

  .row-10\@md {
    --row: 10;
  }

  .row-11\@md {
    --row: 11;
  }

  .row-12\@md {
    --row: 12;
  }

  .order-0\@md {
    order: 0;
  }

  .order-1\@md {
    order: 1;
  }

  .order-2\@md {
    order: 2;
  }

  .order-3\@md {
    order: 3;
  }

  .order-4\@md {
    order: 4;
  }

  .order-5\@md {
    order: 5;
  }

  .order-6\@md {
    order: 6;
  }

  .order-7\@md {
    order: 7;
  }

  .order-8\@md {
    order: 8;
  }

  .order-9\@md {
    order: 9;
  }

  .order-10\@md {
    order: 10;
  }

  .order-11\@md {
    order: 11;
  }

  .order-12\@md {
    order: 12;
  }

  .g\:columns-2\@md {
    --grid-columns: 2;
  }

  .g\:columns-3\@md {
    --grid-columns: 3;
  }

  .g\:columns-4\@md {
    --grid-columns: 4;
  }

  .g\:columns-5\@md {
    --grid-columns: 5;
  }

  .g\:columns-6\@md {
    --grid-columns: 6;
  }

  .g\:columns-7\@md {
    --grid-columns: 7;
  }

  .g\:columns-8\@md {
    --grid-columns: 8;
  }

  .g\:columns-9\@md {
    --grid-columns: 9;
  }

  .g\:columns-10\@md {
    --grid-columns: 10;
  }

  .g\:columns-11\@md {
    --grid-columns: 11;
  }

  .g\:columns-12\@md {
    --grid-columns: 12;
  }

  .g\:cs-1\@md {
    --col-start: 1;
  }

  .g\:cs-2\@md {
    --col-start: 2;
  }

  .g\:cs-3\@md {
    --col-start: 3;
  }

  .g\:cs-4\@md {
    --col-start: 4;
  }

  .g\:cs-5\@md {
    --col-start: 5;
  }

  .g\:cs-6\@md {
    --col-start: 6;
  }

  .g\:cs-7\@md {
    --col-start: 7;
  }

  .g\:cs-8\@md {
    --col-start: 8;
  }

  .g\:cs-9\@md {
    --col-start: 9;
  }

  .g\:cs-10\@md {
    --col-start: 10;
  }

  .g\:cs-11\@md {
    --col-start: 11;
  }

  .g\:cs-auto\@md {
    --col-start: auto;
  }

  .g\:start-auto\@md {
    --col-start: auto;
    --row-start: auto;
  }

  .g\:col-auto\@md {
    --col: auto;
  }

  .g\:col-auto-none\@md {
    --col: var(--grid-columns);
  }

  .g\:gap\@md {
    --local-container-gap: var(--container-gap);
    --grid-gap-x: var(--gap-x);
    --grid-gap-y: var(--gap-y);
    --gap-n: calc(var(--container-gap) / -1);
  }

  .g\:gap-0\@md {
    --local-container-gap: 0px;
    --grid-gap-x: 0px;
    --grid-gap-y: 0px;
    --gap-n: 0px;
  }

  .g\:gap-n\@md {
    --gap-n: calc(var(--local-container-gap) / -1);
    margin-right: var(--gap-n);
    margin-left: var(--gap-n);
  }

  .g\:gap-n-0\@md {
    --gap-n: 0px;
  }

  .g\:gap-x\@md {
    --grid-gap-x: var(--gap-x);
  }

  .g\:gap-x-0\@md {
    --grid-gap-x: 0px;
  }

  .g\:gap-y\@md {
    --grid-gap-y: var(--gap-y);
  }

  .g\:gap-y-0\@md {
    --grid-gap-y: 0px;
  }

  .g\:rs-1\@md {
    --row-start: 1;
  }

  .g\:rs-2\@md {
    --row-start: 2;
  }

  .g\:rs-3\@md {
    --row-start: 3;
  }

  .g\:rs-4\@md {
    --row-start: 4;
  }

  .g\:rs-5\@md {
    --row-start: 5;
  }

  .g\:rs-6\@md {
    --row-start: 6;
  }

  .g\:rs-7\@md {
    --row-start: 7;
  }

  .g\:rs-8\@md {
    --row-start: 8;
  }

  .g\:rs-9\@md {
    --row-start: 9;
  }

  .g\:rs-10\@md {
    --row-start: 10;
  }

  .g\:rs-11\@md {
    --row-start: 11;
  }

  .g\:rs-auto\@md {
    --row-start: auto;
  }

  .g\:rows-auto\@md {
    grid-auto-rows: auto;
  }

  .g\:rows-fixed\@md {
    grid-auto-rows: 1fr;
  }

  .t\:left\@md {
    text-align: left;
  }

  .t\:right\@md {
    text-align: right;
  }

  .t\:center\@md {
    text-align: center;
  }

  .m\:inline\@md {
    --dp-flex: inline-flex;
    --dp-grid: inline-grid;
    --dp-block: inline-block;
    --dp-inline: inline;
  }

  .m\:block\@md {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: block;
  }

  .m\:hide\@md {
    --dp-flex: none;
    --dp-grid: none;
    --dp-block: none;
    --dp-inline: none;
  }

  .m\:show\@md {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: inline;
  }

  .m\:axis-x\@md {
    flex-direction: row;
  }

  .m\:axis-x\@md[class*=" m:align-"],
  .m\:axis-x\@md[class^="m:align-"] {
    align-items: var(--align);
    justify-content: var(--justify);
  }

  .m\:axis-x-r\@md {
    flex-direction: row-reverse;
  }

  .m\:axis-x-r\@md[class*=" m:align-"],
  .m\:axis-x-r\@md[class^="m:align-"] {
    align-items: var(--align);
    justify-content: var(--justify-r-x);
  }

  .m\:axis-y\@md {
    flex-direction: column;
  }

  .m\:axis-y\@md[class*=" m:align-"],
  .m\:axis-y\@md[class^="m:align-"] {
    align-items: var(--justify);
    justify-content: var(--align);
  }

  .m\:axis-y-r\@md {
    flex-direction: column-reverse;
  }

  .m\:axis-y-r\@md[class*=" m:align-"],
  .m\:axis-y-r\@md[class^="m:align-"] {
    align-items: var(--justify);
    justify-content: var(--align-r-y);
  }

  .m\:left\@md {
    margin-right: auto;
    margin-left: 0;
  }

  .m\:left-0\@md,
  .m\:right\@md {
    margin-right: 0;
  }

  .m\:right\@md {
    margin-left: auto;
  }

  .m\:right-0\@md {
    margin-left: 0;
  }

  .m\:top\@md {
    margin-bottom: auto;
    margin-top: 0;
  }

  .m\:bottom\@md,
  .m\:top-0\@md {
    margin-bottom: 0;
  }

  .m\:bottom\@md {
    margin-top: auto;
  }

  .m\:bottom-0\@md {
    margin-top: 0;
  }

  .m\:center\@md {
    margin: auto;
  }

  .m\:center-0\@md {
    margin: 0;
  }

  .m\:center-x\@md {
    margin-left: auto;
    margin-right: auto;
  }

  .m\:center-x-0\@md {
    margin-left: 0;
    margin-right: 0;
  }

  .m\:center-y\@md {
    margin-top: auto;
    margin-bottom: auto;
  }

  .m\:center-y-0\@md {
    margin-top: 0;
    margin-bottom: 0;
  }

  .m\:align-right\@md {
    --justify: flex-end;
    --justify-r-x: flex-start;
  }

  .m\:align-left\@md {
    --justify: flex-start;
    --justify-r-x: flex-end;
  }

  .m\:align-bottom\@md {
    --align: flex-end;
    --align-r-y: flex-start;
  }

  .m\:align-top\@md {
    --align: flex-start;
    --align-r-y: flex-end;
  }

  .m\:align-center\@md {
    --align: center;
    --align-r-y: center;
  }

  .m\:align-center-x\@md,
  .m\:align-center\@md {
    --justify: center;
    --justify-r-x: center;
  }

  .m\:align-center-y\@md {
    --align: center;
    --align-r-y: center;
  }

  .m\:align-stretch\@md {
    --align: stretch;
    --align-r-y: stretch;
  }

  .m\:align-stretch-x\@md,
  .m\:align-stretch\@md {
    --justify: stretch;
    --justify-r-x: stretch;
  }

  .m\:align-stretch-y\@md {
    --align: stretch;
    --align-r-y: stretch;
  }

  .m\:relative\@md {
    position: relative;
  }

  .m\:static\@md {
    position: static;
  }
}

@media (min-width: 1024px) {
  :root {
    --body-font-size: 0.18rem;
  }

  :root {
    --gap-x: 0.3rem;
  }

  :root {
    --gap-y: 0.3rem;
  }

  :root {
    --container-gap: 0;
  }

  :root {
    --width-min-window: 960;
    --width-min-window-px: 960px;
    --min-value: 50;
    --min-value-px: 50px;
    --max-value: 100;
  }

  .container-xs,
  .container-md,
  .container,
  .container-lg {
    max-width: 12rem;
  }

  .title--size-sm {
    font-size: 0.36rem;
  }

  .title--size-md {
    font-size: 0.56rem;
  }

  .title--size-lg {
    font-size: 0.72rem;
  }

  .social--size {
    font-size: 0.64rem;
  }

  .questions-item__header {
    padding: 0.2rem 0.65rem;
  }

  .questions-item__body {
    padding: 0.2rem 0.65rem;
  }

  .col-1\@lg {
    --col: 1;
  }

  .col-2\@lg {
    --col: 2;
  }

  .col-3\@lg {
    --col: 3;
  }

  .col-4\@lg {
    --col: 4;
  }

  .col-5\@lg {
    --col: 5;
  }

  .col-6\@lg {
    --col: 6;
  }

  .col-7\@lg {
    --col: 7;
  }

  .col-8\@lg {
    --col: 8;
  }

  .col-9\@lg {
    --col: 9;
  }

  .col-10\@lg {
    --col: 10;
  }

  .col-11\@lg {
    --col: 11;
  }

  .col-12\@lg {
    --col: 12;
  }

  .row-1\@lg {
    --row: 1;
  }

  .row-2\@lg {
    --row: 2;
  }

  .row-3\@lg {
    --row: 3;
  }

  .row-4\@lg {
    --row: 4;
  }

  .row-5\@lg {
    --row: 5;
  }

  .row-6\@lg {
    --row: 6;
  }

  .row-7\@lg {
    --row: 7;
  }

  .row-8\@lg {
    --row: 8;
  }

  .row-9\@lg {
    --row: 9;
  }

  .row-10\@lg {
    --row: 10;
  }

  .row-11\@lg {
    --row: 11;
  }

  .row-12\@lg {
    --row: 12;
  }

  .order-0\@lg {
    order: 0;
  }

  .order-1\@lg {
    order: 1;
  }

  .order-2\@lg {
    order: 2;
  }

  .order-3\@lg {
    order: 3;
  }

  .order-4\@lg {
    order: 4;
  }

  .order-5\@lg {
    order: 5;
  }

  .order-6\@lg {
    order: 6;
  }

  .order-7\@lg {
    order: 7;
  }

  .order-8\@lg {
    order: 8;
  }

  .order-9\@lg {
    order: 9;
  }

  .order-10\@lg {
    order: 10;
  }

  .order-11\@lg {
    order: 11;
  }

  .order-12\@lg {
    order: 12;
  }

  .g\:columns-2\@lg {
    --grid-columns: 2;
  }

  .g\:columns-3\@lg {
    --grid-columns: 3;
  }

  .g\:columns-4\@lg {
    --grid-columns: 4;
  }

  .g\:columns-5\@lg {
    --grid-columns: 5;
  }

  .g\:columns-6\@lg {
    --grid-columns: 6;
  }

  .g\:columns-7\@lg {
    --grid-columns: 7;
  }

  .g\:columns-8\@lg {
    --grid-columns: 8;
  }

  .g\:columns-9\@lg {
    --grid-columns: 9;
  }

  .g\:columns-10\@lg {
    --grid-columns: 10;
  }

  .g\:columns-11\@lg {
    --grid-columns: 11;
  }

  .g\:columns-12\@lg {
    --grid-columns: 12;
  }

  .g\:cs-1\@lg {
    --col-start: 1;
  }

  .g\:cs-2\@lg {
    --col-start: 2;
  }

  .g\:cs-3\@lg {
    --col-start: 3;
  }

  .g\:cs-4\@lg {
    --col-start: 4;
  }

  .g\:cs-5\@lg {
    --col-start: 5;
  }

  .g\:cs-6\@lg {
    --col-start: 6;
  }

  .g\:cs-7\@lg {
    --col-start: 7;
  }

  .g\:cs-8\@lg {
    --col-start: 8;
  }

  .g\:cs-9\@lg {
    --col-start: 9;
  }

  .g\:cs-10\@lg {
    --col-start: 10;
  }

  .g\:cs-11\@lg {
    --col-start: 11;
  }

  .g\:cs-auto\@lg {
    --col-start: auto;
  }

  .g\:start-auto\@lg {
    --col-start: auto;
    --row-start: auto;
  }

  .g\:col-auto\@lg {
    --col: auto;
  }

  .g\:col-auto-none\@lg {
    --col: var(--grid-columns);
  }

  .g\:gap\@lg {
    --local-container-gap: var(--container-gap);
    --grid-gap-x: var(--gap-x);
    --grid-gap-y: var(--gap-y);
    --gap-n: calc(var(--container-gap) / -1);
  }

  .g\:gap-0\@lg {
    --local-container-gap: 0px;
    --grid-gap-x: 0px;
    --grid-gap-y: 0px;
    --gap-n: 0px;
  }

  .g\:gap-n\@lg {
    --gap-n: calc(var(--local-container-gap) / -1);
    margin-right: var(--gap-n);
    margin-left: var(--gap-n);
  }

  .g\:gap-n-0\@lg {
    --gap-n: 0px;
  }

  .g\:gap-x\@lg {
    --grid-gap-x: var(--gap-x);
  }

  .g\:gap-x-0\@lg {
    --grid-gap-x: 0px;
  }

  .g\:gap-y\@lg {
    --grid-gap-y: var(--gap-y);
  }

  .g\:gap-y-0\@lg {
    --grid-gap-y: 0px;
  }

  .g\:rs-1\@lg {
    --row-start: 1;
  }

  .g\:rs-2\@lg {
    --row-start: 2;
  }

  .g\:rs-3\@lg {
    --row-start: 3;
  }

  .g\:rs-4\@lg {
    --row-start: 4;
  }

  .g\:rs-5\@lg {
    --row-start: 5;
  }

  .g\:rs-6\@lg {
    --row-start: 6;
  }

  .g\:rs-7\@lg {
    --row-start: 7;
  }

  .g\:rs-8\@lg {
    --row-start: 8;
  }

  .g\:rs-9\@lg {
    --row-start: 9;
  }

  .g\:rs-10\@lg {
    --row-start: 10;
  }

  .g\:rs-11\@lg {
    --row-start: 11;
  }

  .g\:rs-auto\@lg {
    --row-start: auto;
  }

  .g\:rows-auto\@lg {
    grid-auto-rows: auto;
  }

  .g\:rows-fixed\@lg {
    grid-auto-rows: 1fr;
  }

  .t\:left\@lg {
    text-align: left;
  }

  .t\:right\@lg {
    text-align: right;
  }

  .t\:center\@lg {
    text-align: center;
  }

  .m\:inline\@lg {
    --dp-flex: inline-flex;
    --dp-grid: inline-grid;
    --dp-block: inline-block;
    --dp-inline: inline;
  }

  .m\:block\@lg {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: block;
  }

  .m\:hide\@lg {
    --dp-flex: none;
    --dp-grid: none;
    --dp-block: none;
    --dp-inline: none;
  }

  .m\:show\@lg {
    --dp-flex: flex;
    --dp-grid: grid;
    --dp-block: block;
    --dp-inline: inline;
  }

  .m\:axis-x\@lg {
    flex-direction: row;
  }

  .m\:axis-x\@lg[class*=" m:align-"],
  .m\:axis-x\@lg[class^="m:align-"] {
    align-items: var(--align);
    justify-content: var(--justify);
  }

  .m\:axis-x-r\@lg {
    flex-direction: row-reverse;
  }

  .m\:axis-x-r\@lg[class*=" m:align-"],
  .m\:axis-x-r\@lg[class^="m:align-"] {
    align-items: var(--align);
    justify-content: var(--justify-r-x);
  }

  .m\:axis-y\@lg {
    flex-direction: column;
  }

  .m\:axis-y\@lg[class*=" m:align-"],
  .m\:axis-y\@lg[class^="m:align-"] {
    align-items: var(--justify);
    justify-content: var(--align);
  }

  .m\:axis-y-r\@lg {
    flex-direction: column-reverse;
  }

  .m\:axis-y-r\@lg[class*=" m:align-"],
  .m\:axis-y-r\@lg[class^="m:align-"] {
    align-items: var(--justify);
    justify-content: var(--align-r-y);
  }

  .m\:left\@lg {
    margin-right: auto;
    margin-left: 0;
  }

  .m\:left-0\@lg,
  .m\:right\@lg {
    margin-right: 0;
  }

  .m\:right\@lg {
    margin-left: auto;
  }

  .m\:right-0\@lg {
    margin-left: 0;
  }

  .m\:top\@lg {
    margin-bottom: auto;
    margin-top: 0;
  }

  .m\:bottom\@lg,
  .m\:top-0\@lg {
    margin-bottom: 0;
  }

  .m\:bottom\@lg {
    margin-top: auto;
  }

  .m\:bottom-0\@lg {
    margin-top: 0;
  }

  .m\:center\@lg {
    margin: auto;
  }

  .m\:center-0\@lg {
    margin: 0;
  }

  .m\:center-x\@lg {
    margin-left: auto;
    margin-right: auto;
  }

  .m\:center-x-0\@lg {
    margin-left: 0;
    margin-right: 0;
  }

  .m\:center-y\@lg {
    margin-top: auto;
    margin-bottom: auto;
  }

  .m\:center-y-0\@lg {
    margin-top: 0;
    margin-bottom: 0;
  }

  .m\:align-right\@lg {
    --justify: flex-end;
    --justify-r-x: flex-start;
  }

  .m\:align-left\@lg {
    --justify: flex-start;
    --justify-r-x: flex-end;
  }

  .m\:align-bottom\@lg {
    --align: flex-end;
    --align-r-y: flex-start;
  }

  .m\:align-top\@lg {
    --align: flex-start;
    --align-r-y: flex-end;
  }

  .m\:align-center\@lg {
    --align: center;
    --align-r-y: center;
  }

  .m\:align-center-x\@lg,
  .m\:align-center\@lg {
    --justify: center;
    --justify-r-x: center;
  }

  .m\:align-center-y\@lg {
    --align: center;
    --align-r-y: center;
  }

  .m\:align-stretch\@lg {
    --align: stretch;
    --align-r-y: stretch;
  }

  .m\:align-stretch-x\@lg,
  .m\:align-stretch\@lg {
    --justify: stretch;
    --justify-r-x: stretch;
  }

  .m\:align-stretch-y\@lg {
    --align: stretch;
    --align-r-y: stretch;
  }

  .m\:relative\@lg {
    position: relative;
  }

  .m\:static\@lg {
    position: static;
  }

  .modal__header {
    padding: 0 0.3rem;
  }

  .modal-politic {
    background-color: transparent;
  }

  .modal-politic__wrapper {
    padding: 0.5rem 0.75rem;
  }

  .modal-politic__close {
    right: 0.3rem;
  }

  .modal-form {
    background-color: transparent;
  }

  .modal-form__wrapper {
    padding: 0.5rem 0.75rem;
  }

  .modal-form__close {
    right: 0.3rem;
  }
}

@media (min-width: 1920px) {
  :root {
    --width-max-window: 1920px;
  }
}

@media (pointer: fine) {
  .link:hover {
    color: #000;
  }

  .btn--primary:hover {
    background: #585858;
  }

  .btn--circle:hover {
    background: #585858;
  }

  .btn--outline:hover {
    color: #fff;
    background: #000;
  }

  .btn--outline:hover .icon {
    color: #fff;
  }

  .form-field:hover {
    color: #000;
  }

  .form-field:active {
    color: #000;
  }

  .modal__close:hover .icon {
    color: #000;
  }

  .modal__close:active .icon {
    color: #000;
  }
}