@mixin font(
                $name,
                $url,
                $weight,
                $local: null,
                $style: 'normal',
                $display: true
            ) {
    @font-face {
        //*
        font-family: '#{$name}';
        //*
        @if $local != null {
            src:    local('#{$local}'),
                    url('../fonts/#{$url}.woff2') format('woff2'),
                    url('../fonts/#{$url}.woff') format('woff');
        } @else {
            src:    url('../fonts/#{$url}.woff2') format('woff2'),
                    url('../fonts/#{$url}.woff') format('woff');            
        }

        //*    
        font-weight: $weight;
        font-style: #{$style};
        //*
        @if $display == true {
            font-display:swap;
        }
        @content;
    }
}