/* 
<div class="questions">
    <div class="questions-item">
        <div class="questions-item__header">
            <div class="questions-item__title"></div>
            <div class="questions-item__toggel _plus"></div>
        </div>
        <div class="questions-item__body"></div>
    </div>
</div>
*/
//*
.questions {
    display: flex;
    flex-direction: column;
    //*
}
.questions-item {
    margin-bottom: size(25);
    //*
    &._active {
        .questions-item__toggel{
            //color: rgb(255, 117, 117);
            & ._plus {
                &:after {
                    transform: rotate(-45deg);
                }
                &:before {
                    transform: rotate(45deg);
                }
            }
            &._arrow .icon{
                transform: rotate(-90deg);
            }
        }
    }
    //*
    &__header {
        //min-height: size(110);
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    //*
    &__title {
        margin-right: size(15);
    }
    //*
    &__toggel {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1em;
        width: 1em;
        font-size: size(24);
        flex:  0 0 auto;
        //background-color: #000;
        //color: #fff;
        //border-radius: 50%;
        @include media(lg) {
            font-size: size(40);
        }
        ._plus {
            height: 2px;
            width: 1em;
            font-size: size(20, 40, 'em');
            position: relative;
            color: currentColor;
            flex: 0 0 auto;
            &:before,
            &:after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background: currentColor;
                transition-duration: $td;
            }
            &:after {
                transform: rotate(90deg);
            }
        }
        &._arrow .icon{
            transform: rotate(90deg);
        }
    }
    //* text
    &__body {
        display: none;
        padding: size(20) 0 0;
        @include media(lg) {
            padding: size(20) 0 0;
        }
    }
}