.btn--outline {
    border: 1px solid $btn-bg;   
    color: $btn-color-outline;
    background-color: transparent;
    .icon {
        color: $btn-color-outline;
    }   
    @media (pointer: fine) {
        &:hover {
            color: $btn-color;
            background: $btn-bg; 
            .icon {
                color: $btn-color;
            }   
        }
    }
    &:active {
        color: $btn-color;
        background: $btn-bg;   
        .icon {
            color: $btn-color;
        } 
    }
}