<div id="menu-modal" class="menu-modal">
    <div class="menu-modal__wrapper">
        <div class="menu-modal__header">
            <button class="btn menu-modal__close"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg></button>
        </div>
        <nav class="menu-modal__box">
            <ul class="menu-modal__list">
                <li class="menu-modal__list-item"><a href="" class="menu-modal__link scroll">text</a></li>
                <li class="menu-modal__list-item"><a href="" class="menu-modal__link scroll">text</a></li>
                <li class="menu-modal__list-item"><a href="" class="menu-modal__link scroll">text</a></li>
                <li class="menu-modal__list-item"><a href="" class="menu-modal__link scroll">text</a></li>
            </ul>
        </nav>
    </div>
</div>