.modal-form {
    //color: #fff;
    background-color: #fff;
    @include media(lg) {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);
    }
    &__box {
        margin: auto;
        position: relative;
        background-color: #fff;
        padding: size(50) size(15);
        max-width: size(520);
        width: 100%;
        @include media(lg) {
            padding: size(50) size(60);
        }
    }
    &__box-field {
        @include media(lg) {
            padding:0 size(30);
        }
    }
    &__close {
        position: absolute;
        right: size(15);
        top: size(30);

        @include media(lg) {
            font-size: size(24);
            top: size(30);
            right: size(30);
        }
    }
}