.modal-form {
    position: relative;
    background-color: #fff; 
    @include media(lg) {
        background-color: transparent;
    }
    &__box {
        margin: auto;
        position: relative;
        padding: 0;
    }
    &__wrapper {
        background-color: #fff;
        max-width: size(600);
        padding: size(50) size(15);
        @include media(lg) {
            padding: size(50) size(75);
        }
    }
    &__close {
        position: absolute;
        right: size(15);
        top: size(30);

        @include media(lg) {
            right: size(30);
        }
    }
}