.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: none;
    //color: #fff;
    //mod
    &._index {
        z-index: 1999;
    }
    &__wrapper {
        height: 100%;
        width: 100%;
        background: rgb(255, 255, 255);
        overflow: hidden;
    }
    //*
    &__header {
        height: size(100);
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 20;
        pointer-events:none;
    }
    &__container {
        display: flex;
        height: 100%;
        width: 100%;
        padding:size(100) 15px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__box {
        margin: auto;
        @include media(lg) {
            padding: size(25) size(50);
        }
    }
    &__close {
        //color: #fff;
        margin: auto size(30) auto auto;
        pointer-events: auto;
    }
}
