.modal-video {
    position: relative;
    &__box { 
        margin: auto;
        max-width: size(1200);
        width: 100%;
        position: relative;
        --adaptive-box: height(560,315);
    }
    &__frame {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    &__loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%,-50%, 0);
        font-size: 4em;
        z-index: 1;
    }
}