.grid {
    --dp-grid: grid;
    display: var(--dp-grid);
    grid-template-columns: repeat(var(--grid-columns), calc(((100% + var(--grid-gap-x)) / (var(--grid-columns) / 1)) - var(--grid-gap-x)));
    grid-gap: var(--grid-gap-y) var(--grid-gap-x);
    @supports (gap: var(--gap)){
        gap: var(--grid-gap-y) var(--grid-gap-x);
    }
}
.grid > *{
    --col: var(--grid-columns);
    --row: 1;
    --col-start: auto;
    --row-start: auto;
    grid-area: var(--row-start) /var(--col-start) / span var(--row) / span var(--col);
}
.grid[class*=" m:align-"],
.grid[class^="m:align-"] {
    align-items: var(--align);
    justify-items: var(--justify);
}