.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left:  size-a($gap / 2, '1-25');
    margin-right: size-a($gap / 2, '1-25');
    & > * {
        flex: 1 0 auto;
        width: 100%;
        padding-left:  size($gap / 2);
        padding-right: size($gap / 2);
    }
}