$btn-bg: #000;
$btn-bg-hover: #585858;
$btn-color: #fff;
$btn-color-hover: #fff;
$btn-color-outline: currentColor;

.btn {
    --dp-flex: flex;
    display: var(--dp-flex);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    //*
    text-decoration: none;
    //*
    transition-duration: $td;
    //*
    line-height: 1;
    cursor: pointer;
    //!----------
    //* theme
    &--primary {
        font-weight: 500;
        border-radius: 500px;
        background:  $btn-bg;   
        color: $btn-color;
        .icon {
            color: $btn-color;
        }
        @media (pointer: fine) {
            &:hover {
                background: $btn-bg-hover;    
            }
        }
        &:active {
            background: $btn-bg-hover;    
        }
    }
    //*
    &--size {
        &-md {
            font-size: size-x(24);
            padding: size-x(16) size-x(32);
        }
    }
    //*
    &--circle {
        --btn-circle:#{size(200)};
        border-radius: 50%;
        height: var(--btn-circle);
        width: var(--btn-circle);
        background: $btn-bg;   
        color: $btn-color;
        @media (pointer: fine) {
            &:hover {
                background: $btn-bg-hover;    
            }
        }
        &:active {
            background: $btn-bg-hover;    
        }
    }
    //*
    &--outline {
        border: 1px solid $btn-bg;   
        border-radius: 500px;
        color: $btn-color-outline;
        .icon {
            color: $btn-color-outline;
        }   
        @media (pointer: fine) {
            &:hover {
                color: $btn-color;
                background: $btn-bg; 
                .icon {
                    color: $btn-color;
                }   
            }
        }
        &:active {
            color: $btn-color;
            background: $btn-bg;   
            .icon {
                color: $btn-color;
            } 
        }
    }
    //*
    &--link {
        border-bottom: 1px solid currentColor;   
        color: $btn-bg;
        padding: 2px 0;
        &:hover {
            color: $btn-bg-hover;
        }
    }
    //*
    .icon {
        &._indent-right {
            margin-right: size(20);
        }
        &._indent-left {
            margin-left: size(20);
        }
    }
}