//*
.btn--circle {
    --dp-flex: flex;
    display: var(--dp-flex);
    align-items: center;
    justify-content: center;
    line-height: 1;
    --btn-circle:#{size(200)};
    border-radius: 50%;
    height: var(--btn-circle);
    width: var(--btn-circle);
    background: $btn-bg;   
    color: $btn-color;
    @media (pointer: fine) {
        &:hover {
            background: $btn-bg-hover;    
        }
    }
    &:active {
        background: $btn-bg-hover;    
    }
}