.btn--primary {
    --dp-flex: flex;
    display: var(--dp-flex);
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 500px;
    background:  $btn-bg;   
    color: $btn-color;
    .icon {
        color: $btn-color;
    }
    @media (pointer: fine) {
        &:hover {
            background: $btn-bg-hover;    
        }
    }
    &:active {
        background: $btn-bg-hover;    
    }
}