<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    @@include("base/_favicon.html",{})
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <!-- @@include("base/_preloader.html",{}) -->

    <!-- @@include("base/_menu.html",{}) -->

    <!-- @@include("base/_header.html",{}) -->
    <!-- @@include("base/_home.html",{}) -->
    
    @@include("_template.html",{})

    <!-- @@include("base/_footer.html",{}) -->

    @@include("modal/_modal-form.html",{})
    @@include("modal/_modal-politics.html",{})
    @@include("modal/_modal-video.html",{})

    <script src="js/libraries/libraries.js"></script>
    <script src="js/main/main.js"></script>
    
</body>
</html>