<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>
    <meta name="description" content="">

    @@include("base/_favicon.html",{})

    <meta property="og:title" content="" />
    <meta property="og:description"  content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="format-detection" content="telephone=no">
</head>
<body>

    <!-- @@include("base/_preloader.html",{}) -->
    @@include("menu/_menu-modal.html",{})

    <!-- @@include("base/_header.html",{}) -->
    
    @@include("section/_index.html",{})
    <!-- @@include("base/_footer.html",{}) -->

    @@include("modal/_modal-form.html",{})
    @@include("modal/_modal-politics.html",{})
    @@include("modal/_modal-video.html",{})

    <script src="js/libraries/libraries.js"></script>
    <!-- ! Удалить -->
    @@include("_template.html",{})
    <!-- ! Удалить -->
    <script src="js/main/main.js"></script>
    
</body>
</html>

