.form-textarea {
    position: relative;
    display: block;
    border-radius: size(30);
    border: 1px solid rgb(185, 185, 185);
    padding: size(30);     
    transition-duration: $td;   
    &__input {
        resize:none;  
        width: 100%;
        transition-duration: $td;
        &::placeholder {
            opacity: 0;
        }
        &:focus,
        &:not(:placeholder-shown) {
            & ~ .form-textarea__text {
                opacity: 0;
            }
        }
    }
    &__required,
    &__text {
        position: absolute;
        left: size(30);
        top: size(30);
        z-index: 2;
        pointer-events: none;
        transition-duration: $td;
    }
    &__text {
        span {
            color: red;
        }
    }
    &__required {
        opacity: 0;
    }
    //*
    &._required{
        border-color: red;
        .form-textarea__text {
            opacity: 0;
        }
        .form-textarea__required {
            opacity: 1;
        }
    }
}