<div id="modal-politic" class="modal modal--theme-secondary _index">
    <div class="modal__wrapper">
        <div class="modal__container modal-politic">
            <div class="modal-politic__box modal-target">
                <button class="modal-politic__close modal__close">
                    <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>
                </button>
                <div class="modal-politic__wrapper">
                    <h2 class="modal-politic__title title">Политика конфиденциальности</h2>
                    <p class="modal-politic__text">Согласие дано Оператору для совершения следующих действий с моими персональными данными с использованием средств автоматизации и/или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, передача третьим лицам для указанных ниже целей, а также осуществление любых иных действий, предусмотренных действующим законодательством РФ, как неавтоматизированными, так и автоматизированными способами.</p>
                </div>
            </div>
        </div>
    </div>
</div>