body {
    line-height: map-get($global-settings, 'line-height');
    font-weight: map-get($global-settings, 'font-weight');
    font-size: var(--body-font-size);  
    font-family: map-get($global-settings, 'font');

    margin: 0;

    color: map-get($global-settings, 'color');
    
    @if (map-get($global-settings, 'bg')) {
        background-color: map-get($global-settings, 'bg');
    }
}