*,
*::before,
*::after {
  box-sizing: border-box; 
}
html {
    text-size-adjust: none;
}
img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    transition-duration: $td;
    &:hover {
        //color: $color-primary;
    }
}
table {
    border-collapse:collapse;
    border-spacing:0
}
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5, 
p,
ul,
ol {
    margin: 0;
    padding: 0;
}
iframe {
    border: 0;
}
b, strong {
    font-weight: 700;
}
//* form elements
button, 
input, 
optgroup, 
select, 
textarea {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
    border: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
  }
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; 
}
input::placeholder, 
textarea::placeholder {
  opacity: 1;
  color: currentColor;
}