$btn-bg: #000;
$btn-bg-hover: #585858;
$btn-color: #fff;
$btn-color-hover: #fff;
$btn-color-outline: currentColor;

.btn {
    --dp-flex: flex;
    display: var(--dp-flex);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    //*
    text-decoration: none;
    //*
    transition-duration: $td;
    //*
    line-height: 1;
    cursor: pointer;
    //!----------
}
@import "btn-primary";
@import "btn-circle";
@import "btn-link";

//* mod
@import "btn-outline";
@import "btn-size";
@import "btn-theme";
