.menu-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 899;
    background: #fff;
    overflow: hidden;
    display: none;
    &__wrapper {
        display: flex;
        height: 100%;
        width: 100%;
        padding: size(30) 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__box {
        display: flex;
        flex: 1;
    }

    &__list {  
        margin: auto;
        &-item {

        }
    }
    &__link {
        
    }
}