.form-file {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    &__controller {
        display: flex;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        color: #fff;
        width: 100%;
        font-size: size(24);
        height: size(80);
        padding: 0 size(40); 
        transition-duration: $td;
        &:hover {
            transition-duration: $td;
        }
    }
    &__input {
        display: none;
    }

	&__quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 0px;
        overflow: hidden;
        transition-duration: 100ms;
        &._active {
            padding-left: 15px;
            max-width: none;
            .form-file__loader {
                opacity: 0;
                transition-delay: 375ms;
            }
            .form-file__number,
            .form-file__icon {
                opacity: 1;
                transition-delay: 375ms;
            }
        }
	}

	&__loader {
        position: absolute;
        z-index: 2;
        transition-duration: 150ms;
	}

	&__number {
        margin-left: 6px;
        opacity: 0;
        transition-duration: 300ms;
	}

	&__icon {
        opacity: 0;
        transition-duration: 300ms;
	}

}
