<div class="container" style="margin-bottom: 0.4rem;">
    <div class="header-demo">
        Базовые элементы
    </div>
    <div class="grid">
        <div class="col-6@lg">
            <strong class="title-tp">social</strong>
            <div class="social-group box" style="margin-bottom: 10px;">
                <a href="#" class="social social--size"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#instagram"></use></svg></a>
                <a href="#" class="social social--size"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#telegram"></use></svg></a>
                <a href="#" class="social social--circle social--size"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#instagram"></use></svg></a>
                <a href="#" class="social social--circle social--size"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#telegram"></use></svg></a>
                
            </div>
            <div class="social-group box">
                <a href="#" class="social social--outline social--size"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#instagram"></use></svg></a>
                <a href="#" class="social social--outline social--size"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#telegram"></use></svg></a>
                <a href="#" class="social social--outline social--circle social--size"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#instagram"></use></svg></a>
                <a href="#" class="social social--outline social--circle social--size"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#instagram"></use></svg></a>
                f
            </div>
        </div>
        <div class="col-6@lg">
            <strong class="title-tp">icon</strong>
            <div class="box">
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#check"></use></svg>
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#arrow"></use></svg>
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#long-arrow"></use></svg>
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#long-arrow-md"></use></svg>
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#instagram"></use></svg>
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#telegram"></use></svg>
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#file"></use></svg>
                <svg class="icon demo-icon"><use xlink:href="svg-sprite/sprite.svg#play"></use></svg>
            </div>
        </div>
        <div class="col-6@lg">
            <div class="box-t">
                <strong class="title-tp">loader</strong>
                <div class="box-center-y">
                    <span class="loader loader--size-sm" style="margin-right: 20px;"></span>
                    <span class="loader loader--size-md" style="margin-right: 20px;"></span>
                    <span class="loader loader--size-lg" style="margin-right: 20px;"></span>
                </div>
            </div>
        </div>
        <div class="col-6@lg">
            <strong class="title-tp">menu-toggle</strong>
            <div class="box" style="margin-bottom: 0.2rem;" data-toggle-box="ffff">
                <button class="menu-toggle" style="margin-right: 0.2rem;" data-toggle="ffff, toggleClass, active, _active">
                    <span class="menu-toggle__icon"><span class="_left"></span></span>
                </button>
                <button class="menu-toggle" style="margin-right: 0.2rem;" data-toggle="ffff, toggleClass, active, _active">
                    <span class="menu-toggle__icon"><span class="_center"></span></span>
                </button>
                <button class="menu-toggle" style="margin-right: 0.4rem;" data-toggle="ffff, toggleClass, active, _active">
                    <span class="menu-toggle__icon"><span class="_right"></span></span>
                </button>
                <button class="menu-toggle" style="margin-right: 0.2rem;" data-toggle="ffff, toggleClass, active, _active">
                    <span class="menu-toggle__icon"><span class="_center"></span></span>
                </button>
                <button class="menu-toggle _active">
                    <span class="menu-toggle__icon"><span class="_center"></span></span>
                </button>
            </div>
            <button class="menu-toggle">
                <span class="menu-toggle__icon"><span></span></span>
                <span class="menu-toggle__text">menu</span>
            </button>
        </div>
        <div class="col-6@lg">
            <strong class="title-tp">menu</strong>
            <nav class="name__menu menu">
                <ul class="menu__list">
                    <li class="menu__list-item"><a href="#" class="menu__link link">test</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__link link">test test</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__link link">teserert</a></li>
                    <li class="menu__list-item"><a href="#" class="menu__link link">test</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-6@lg">
            <strong class="title-tp">link</strong>
            <div class="box">
                <a href="#" class="link" style="margin-right: 0.5rem;">link</a>
                <a href="#" class="link-decor" style="margin-right: 0.5rem;">link-decor</a>
                <a href="#" class="link link--line">link link--line</a>
            </div>
        </div>
        <div class="col-6@lg">
            <strong class="title-tp">list</strong>
            <ul class="list">
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni eligendi quia quisquam quis placeat qui beatae consectetur! Nobis, voluptatum animi!</li>
                <li>Lorem ipsum dolor </li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit</li>
            </ul>
        </div>

    </div>
</div>
<div class="m:o-hidden">
    <div class="container">
        <strong class="title-tp">ticker</strong>
    </div>
    <div class="ticker" style="margin-bottom: 0.2rem; font-size: 0.2rem">
        <div class="ticker__wrapper">
            <div class="ticker__body box">
                <div class="ticker__box box">
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                </div>
                <div class="ticker__box box">
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ticker _n" style="font-size: 0.2rem;">
        <div class="ticker__wrapper">
            <div class="ticker__body box">
                <div class="ticker__box box">
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                </div>
                <div class="ticker__box box">
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                    <div class="ticker__item" style="white-space: nowrap;">Lorem ipsum dolor sit amet.</div>
                </div>
            </div>
        </div>
    </div>
</div>