<div class="swiper-slide">
    <form class="container">
        <div class="header-demo">
            Форма
        </div>
        <strong class="title-tp">Поля</strong>
        <div class="grid">
            <div class="col-6@lg">
                <label class="form-field" data-input-box>
                    <input class="form-field__input" placeholder="text" data-input type="text" name="name">
                    <span class="form-field__text">text</span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-field" data-input-box>
                    <input class="form-field__input" placeholder="text" data-input type="text" name="name" required>
                    <span class="form-field__text">type: text required <span>*</span></span>
                    <span class="form-field__required">
                        Укажите текст
                    </span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-field" data-input-box>
                    <input class="form-field__input" placeholder="email" data-input type="email" name="email">
                    <span class="form-field__text">type: email</span>
                    <span class="form-field__error">Пожалуйста, введите адрес электронной почты.</span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-field" data-input-box>
                    <input class="form-field__input" placeholder="email" data-input type="email" name="email" required>
                    <span class="form-field__text">type: email required <span>*</span></span>
                    <span class="form-field__error">Пожалуйста, введите адрес электронной почты.</span>
                    <span class="form-field__required">
                        Укажите E-mail
                    </span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-field" data-input-box>
                    <input class="form-field__input form-phone" placeholder="phone" data-input data-mask="+7 (999) 999-99-99" type="tel" name="phone">
                    <span class="form-field__text">type: tel</span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-field" data-input-box>
                    <input class="form-field__input" placeholder="phone" data-input data-mask="+7 (999) 999-99-99" type="tel" name="phone" required>
                    <span class="form-field__text">type: tel required <span>*</span></span>
                    <span class="form-field__required">
                        Укажите телефон
                    </span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-field" data-input-box>
                    <input class="form-field__input" placeholder="number" data-input type="number" name="name">
                    <span class="form-field__text">number</span>
                    <span class="form-field__error">Пожалуйста, введите число.</span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-field" data-input-box>
                    <input class="form-field__input" placeholder="number" data-input type="number" name="name2" required>
                    <span class="form-field__text">number <span>*</span></span>
                    <span class="form-field__error">Пожалуйста, введите число.</span>
                    <span class="form-field__required">
                        Укажите число
                    </span>
                </label>
            </div>
            <div class=""><strong class="">Textarea</strong> </div>
            <div class="col-6@lg">
                <label class="form-textarea" data-input-box> 
                    <textarea class="form-textarea__input" placeholder="text" data-input name=""></textarea>
                    <span class="form-textarea__text">
                        Text
                    </span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-textarea" data-input-box="">
                    <textarea class="form-textarea__input" placeholder="text" name="" required data-input=""></textarea>
                    <span class="form-textarea__text">
                        Text required <span>*</span>
                    </span>
                    <span class="form-textarea__required">
                        Укажите text
                    </span>
                </label>
            </div>
            <div><strong class="">File</strong></div>
            <div class="col-6@lg">
                <label class="form-file">
                    <span class="form-file__controller">
                        <input class="form-file__input" type="file" name="file">
                        <span class="form-file__text">
                            Загрузка
                        </span>
                        <span class="form-file__quantity">
                            <span class="form-file__loader loader"></span>
                            <svg class="form-file__icon icon"><use xlink:href="svg-sprite/sprite.svg#file"></use></svg>
                            <span class="form-file__number"></span> 
                        </span>
                    </span>
                </label>
            </div>
            <div class="col-6@lg">
                <label class="form-file">
                    <span class="form-file__controller">
                        <input class="form-file__input" type="file" name="files[]" multiple>
                        <span class="form-file__text">
                            Загрузка файлов
                        </span>
                        <span class="form-file__quantity">
                            <span class="form-file__loader loader"></span>
                            <svg class="form-file__icon icon"><use xlink:href="svg-sprite/sprite.svg#file"></use></svg>
                            <span class="form-file__number"></span> 
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <div class="box-t">
            <strong class="title-tp">File</strong>
            
            <label class="form-file" data-input-box>
                <span class="form-file__controller">
                    <input class="form-file__input" type="file" name="file" data-input>
                    <span class="form-file__text">
                        Загрузка
                    </span>
                    <span class="form-file__quantity">
                        <span class="form-file__loader loader"></span>
                        <svg class="form-file__icon icon"><use xlink:href="svg-sprite/sprite.svg#file"></use></svg>
                        <span class="form-file__number"></span> 
                    </span>
                </span>
            </label>
        </div>
       
        <div class="box-t">
            <strong class="title-tp">Radio</strong>
            <div class="form-radio-group">
                <label class="form-radio">
                    <input class="form-radio__input" type="radio" name="text">
                    <span class="form-radio__box">text</span>
                </label>
                <label class="form-radio">
                    <input class="form-radio__input" type="radio" name="text">
                    <span class="form-radio__box">text</span>
                </label>
                <label class="form-radio">
                    <input class="form-radio__input" type="radio" name="text">
                    <span class="form-radio__box">text</span>
                </label>
                <label class="form-radio">
                    <input class="form-radio__input" type="radio" name="text">
                    <span class="form-radio__box">text</span>
                </label>
            </div>
        </div>
        <div class="grid" style="padding-top: 1.6rem">
            <div class="col-4">
                <div class="form-send">
                    <div class="form-send__message" style="display: block;">
                        <div class="form-send__loading"><span></span></div>
                        <p class="form-send__success">Спасибо, ваша заявка принята. <br> Менеджер свяжется с вами в ближайшее время</p>
                        <p class="form-send__error">Что-то пошло не так. <br> Заявка не отправлена.</p>
                    </div>
                    <button type="submit" class="form-send__btn btn btn-primary btn--theme-primary btn-primary--md">Перезвоните мне</button>    
                </div>
            </div>
            <div class="col-4">
                <div class="form-send">
                    <div class="form-send__message" style="display: block;">
                        <p class="form-send__success" style="display: block;">Спасибо, ваша заявка принята. <br> Менеджер свяжется с вами в ближайшее время</p>
                        <p class="form-send__error">Что-то пошло не так.  <br> Заявка не отправлена.</p>
                    </div>
                    <button type="submit" class="form-send__btn btn btn-primary btn--theme-primary btn-primary--md">Перезвоните мне</button>    
                </div>
            </div>
            <div class="col-4">
                <div class="form-send">
                    <div class="form-send__message" style="display: block;">
                        <p class="form-send__success">Спасибо, ваша заявка принята. <br> Менеджер свяжется с вами в ближайшее время</p>
                        <p class="form-send__error" style="display: block;">Что-то пошло не так. <br> Заявка не отправлена.</p>
                    </div>
                    <button type="submit" class="form-send__btn btn btn-primary btn--theme-primary btn-primary--md">Перезвоните мне</button>    
                </div>
            </div>
        </div> 
    </form>
</div>