<div class="container">
    <div class="header-demo">
        Кнопки
    </div>
    <div class="grid">
        <strong class="box">btn-primary</strong>
        <div class="col-6@lg">
            <strong class="box">btn--theme-primary</strong>
            <br>
            <div class="box-t">
                <button class="btn btn-primary _md btn--theme-primary" style="max-width: 300px;">кнопка тест кнопка много много текста много текста</button>
            </div>
            <div class="box-t">
                <button class="btn btn-primary _sm btn--theme-primary">кнопка тест кнопка _sm</button>
            </div>
            <div class="box-t">
                <button class="btn btn-primary _md btn--theme-primary">кнопка тест кнопка _md</button>
            </div>
            <div class="box-t">
                <button class="btn btn-primary _lg btn--theme-primary">кнопка тест кнопка _lg</button>
            </div>
            <div class="box-t">
                <button class="btn btn-primary _icon _md btn--theme-primary">кнопка тест icon <svg class="icon _left"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg></button>
            </div>
            <div class="box-t">
                <button class="btn btn-primary _icon _md btn--theme-primary"> <svg class="icon _right"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg> кнопка тест icon</button>
            </div>
        </div>
        <div class="col-6@lg">
            <strong class="box">btn--theme-outline</strong>
            <br>
            <div class="box-t">
                <button class="btn btn-primary _md btn--theme-outline">кнопка тест кнопка</button>
            </div>
            <div class="box-t">
                <button class="btn btn-primary _icon _md  btn-primary--icon btn--theme-outline">
                    кнопка тест icon left <svg class="icon _left "><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>
                </button>
            </div>
            <div class="box-t">
                <button class="btn btn-primary _icon _md btn-primary--icon btn--theme-outline"> <svg class="icon _right "><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>кнопка тест icon right</button>
            </div>
        </div>
        <div class="col-4@lg">
            <strong class="box">btn-circle</strong>
            <br>
            <div class="box-t">
                <button class="btn btn-circle  btn--theme-primary">
                    <span>кнопка тест <br> кнопка</span>
                </button>
            </div>
            <br>
            <div class="box-t">
                <button class="btn btn-circle btn--theme-outline">
                    <span>кнопка тест <br> кнопка</span>
                </button>
            </div>
        </div>
        <div class="col-4@lg">
            <strong class="box">btn-play</strong>
            <br>
            <div class="box-t">
                <button class="btn btn-play btn--theme-primary"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#play"></use></svg></button>
            </div>
            <div class="box-t">
                <button class="btn btn-play btn--theme-outline"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#play"></use></svg></button>
            </div>
        </div>
        <div class="col-4@lg">
            <strong class="box">btn-link</strong>
            <br>
            <div class="box-t">
                <button class="btn btn-link">кнопка link</button>
            </div>
        </div>
    </div> 
</div>