<div class="container">
    <div class="header-demo">
        Accordion
    </div>
    <div class="questions">
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__title">title</div>
                <div class="questions-item__toggel _plus"></div>
            </div>
            <div class="questions-item__body">text</div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__title">title</div>
                <div class="questions-item__toggel _plus"></div>
            </div>
            <div class="questions-item__body">text</div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__title">title</div>
                <div class="questions-item__toggel _arrow"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#arrow"></use></svg></div>
            </div>
            <div class="questions-item__body">text</div>
        </div>
    </div>
    <strong class="title-tp">Accordion</strong>
    <div class="questions" data-questions="accordion">
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__title">title</div>
                <div class="questions-item__toggel _plus"></div>
            </div>
            <div class="questions-item__body">text</div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__title">title</div>
                <div class="questions-item__toggel _plus"></div>
            </div>
            <div class="questions-item__body">text</div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__title">title</div>
                <div class="questions-item__toggel _arrow"><svg class="icon"><use xlink:href="svg-sprite/sprite.svg#arrow"></use></svg></div>
            </div>
            <div class="questions-item__body">text</div>
        </div>
    </div>
   
</div>