<div class="container">
    <div class="header-demo">
        Типография
    </div>
    <div class="grid">
        <div>
            <strong class="title-tp">title:</strong>
            <div class="grid">
                <div class="grid m:align-center-y ">
                    <div class="col-1@md">sm</div>
                    <div class="col-11@md">
                        <h2 class="title title--size-sm">По своей сути рыбатекст является альтернативой традиционному lorem ipsum</h2>
                    </div>
                </div>
                <div class="grid m:align-center-y ">
                    <div class="col-1@md">md</div>
                    <div class="col-11@md">
                        <h2 class="title title--size-md">По своей сути рыбатекст является альтернативой традиционному</h2>
                    </div>
                </div>
                <div class="grid m:align-center-y ">
                    <div class="col-1@md">lg</div>
                    <div class="col-11@md">
                        <h2 class="title title--size-lg">По своей сути рыбатекст является альтернативой</h2>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <strong class="title-tp">subtitle:</strong>
            <strong class="subtitle">Подзаголовок strong</strong>
        </div>
        <div class="col-6@lg">
               <strong class="title-tp">Шрифт primary:</strong>
            <div>
                <span class="item t:100">font-weight 100</span>
                <span class="item t:200">font-weight 200</span>
                <span class="item t:300">font-weight 300</span>
                <span class="item t:400">font-weight 400</span>
                <span class="item t:500">font-weight 500</span>
                <span class="item t:600">font-weight 600</span>
                <span class="item t:700">font-weight 700</span>
                <span class="item t:800">font-weight 800</span>
                <span class="item t:900">font-weight 900</span>
            </div>
            <br>
            <strong class="item-t">Font primary:</strong>
            <p class="text">По своей сути <b>рыбатекст является</b> альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен. </p>
            <br>
            <strong class="item-t">Font primary italic:</strong>
            <p class="text italic">По своей сути <b>рыбатекст является</b> альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен. </p>
            
        </div>
        <div class="col-6@lg">
               <strong class="title-tp">Шрифт secondary:</strong>
            <div class="font-secondary">
                <span class="item t:100">font-weight 100</span>
                <span class="item t:200">font-weight 200</span>
                <span class="item t:300">font-weight 300</span>
                <span class="item t:400">font-weight 400</span>
                <span class="item t:500">font-weight 500</span>
                <span class="item t:600">font-weight 600</span>
                <span class="item t:700">font-weight 700</span>
                <span class="item t:800">font-weight 800</span>
                <span class="item t:900">font-weight 900</span>
            </div>
            <br>
            <strong class="item-t">Font secondary:</strong>
            <p class="text font-secondary"> По своей сути <b>рыбатекст является</b> альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен. </p>
            <br>
            <strong class="item-t">Font secondary italic:</strong>
            <p class="text font-secondary italic"> По своей сути <b>рыбатекст является</b> альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен. </p>

        </div>
    </div> 
</div>