<div id="modal-video" class="modal" data-modal-target="false">
    <div class="modal__wrapper">
        <div class="modal__header">
            <button class="modal__close">
                <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>
            </button>
        </div>
        <div class="modal__container">
            <div class="modal__box modal-video">
                <div class="modal-video__box" data-video-src="https://www.youtube.com/embed/FxuI8UQeI3c"></div> 
                <span class="modal-video__loader loader"></span>
            </div>
        </div>
    </div>
</div>