<div id="modal-politic" class="modal _index">
    <div class="modal__wrapper">
        <div class="modal__header">
            <button class="modal__close">
                <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>
            </button>
        </div>
        <div class="modal__container">
            <div class="modal__box modal-target">
                <div class="modal-politic">
                    <h2 class="modal-politic__title title">Политика конфиденциальности</h2>
                    <p class="modal-politic__text">Согласие дано Оператору для совершения следующих действий с моими персональными данными с использованием средств автоматизации и/или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, передача третьим лицам для указанных ниже целей, а также осуществление любых иных действий, предусмотренных действующим законодательством РФ, как неавтоматизированными, так и автоматизированными способами.</p>
                </div>
            </div>
        </div>
    </div>
</div>