<div id="modal-video" class="modal" data-modal-target="false">
    <div class="modal__wrapper">
        <div class="modal__header">
            <button class="modal__close">
                <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>
            </button>
        </div>
        <div class="modal__container">
            <div class="modal__box modal-video">
                <div class="video adaptive-box">
                    <div class="adaptive-box__wrapper">
                        <div id="init-modal-video" class="video__frame" data-video-src="Lo3rrP8u7Mw"></div>
                    </div>
                    <span class="video__loader loader loader--center loader--size-lg"></span>
                </div>
            </div>
        </div>
    </div>
</div>