<div id="modal-form" class="modal modal-form">
    <div class="modal__wrapper">
        <div class="modal__container">
            <div class="container modal-form__box modal-target">
                <button class="modal-form__close modal__close btn">
                    <svg class="icon"><use xlink:href="svg-sprite/sprite.svg#close"></use></svg>
                </button>

                <form id="form-modal" class="form js-form" action="form/form.php">
                    <input class="form-input-title" type="hidden" name="form-title" value="">
                    <input id="input-info" type="hidden" name="info">
                    <h4 class="title title--size-md t:center mb-10" data-modal-title="Оставить заявку">
                        Оставить заявку
                    </h4>
                    <p class="mb-10 mb-30@lg t:size-20 t:size-24@lg t:center">
                        Оставьте ваши данные, чтобы мы смогли с вами связаться
                    </p>
                    <div class="grid">
                        <div class="col-6@md col-4@lg">
                            <label class="form-field" data-input-box>
                                <input class="form-field__input" placeholder="text" data-input type="text" name="name" required>
                                <span class="form-field__text">Имя <span>*</span></span>
                                <span class="form-field__required">
                                    Укажите Имя
                                </span>
                            </label>
                        </div>
                        <div class="col-6@md col-4@lg">
                            <label class="form-field" data-input-box>
                                <input class="form-field__input" placeholder="phone" data-mask="+7 (999) 999-99-99" data-input type="tel" name="phone" required>
                                <span class="form-field__text">Tелефон <span>*</span></span>
                                <span class="form-field__required">
                                    Укажите телефон
                                </span>
                            </label>
                        </div>
                        <div class="col-6@md col-4@lg">
                            <label class="form-field" data-input-box>
                                <input class="form-field__input" placeholder="email" data-input type="email" name="email" required>
                                <span class="form-field__text">E-mail <span>*</span></span>
                                <span class="form-field__error">Пожалуйста, введите адрес электронной почты.</span>
                                <span class="form-field__required">
                                    Укажите E-mail
                                </span>
                            </label>
                        </div>
                        <div class="col-6@md col-4@lg g:cs-5@lg">
                            <div class="form-send">
                                <div class="form-send__message">
                                    <div class="form-send__loading"><span></span></div>
                                    <p class="form-send__success">Спасибо, ваша заявка принята. <br> Менеджер свяжется с вами в ближайшее время</p>
                                    <p class="form-send__error">Что-то пошло не так. <br> Заявка не отправлена.</p>
                                </div>
                                <button type="submit" class="form-send__btn btn btn-primary btn--theme-primary btn-primary--md">
                                    Перезвоните мне
                                </button>    
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>