.scroll-offset {
    overflow: hidden !important;   
    --scroll-offset: var(--scroll-offset-init);
    touch-action: none;
    &[data-scroll-offset],
    & [data-scroll-offset] {
        padding-right: var(--scroll-offset);
    }
}