.form-radio-group {
    display: flex;
    flex-wrap: wrap;
}
.form-radio {
    margin: 0 size-x(20) size-x(20) 0;
    display: block;
    position: relative;
    //color: #fff;
	&__input {
        opacity: 0;
        font-size: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        cursor: pointer;
        &:hover ~ .form-radio__controller{
            background-color: #000;
            color: #fff;
        }
        &:checked {
            cursor: auto;
        }
        &:checked ~ .form-radio__controller{
            background-color: #000;
            color: #fff;
        }
	}

	&__box {
        position: relative;
        z-index: 1;   
        border: 1px solid currentColor;
        transition-duration: $td;
        padding: size-x(18) size-x(42); 
        display: block;
	}
}