$animation:(
    //* Left
    fadeInLeft:         false,
    fadeInLeftBottom:   false,
    fadeInLeftTop:      false,
    //* Right
    fadeInRight:        false,
    fadeInRightBottom:  false,
    fadeInRightTop:     false,
    //*
    fadeInUp:           false,
    fadeInDown:         false,
    //*
    fadeIn:             false,
    //*
    buzz-out:           false,
    orbit:              false,
);
