
$td: 400ms; //* базавая настройка скорости анимаций 

//* Тип макета:
//$layout-type: 'fixed'; 
$layout-type: 'adaptive'; 
//* fixed       -   фиксированя сетка
//* adaptive    -   гибкая сетка (от ширины экрана)

//* Размеры макета (дизайн макета):
$layout-size: 1920;
//* Требуется для работы функции size-clamp, размеров rem и шрифтов 
//* src\scss\layout\_size.scss
//* src\scss\core\functions\_size.scss
//* src\scss\layout\_root.scss
//?                                                                                               тут
//* Учавствует в calc(50px + (100 - 50) * ((var(--size-window) - var(--width-window-px)) / (#{$layout-size} - var(--width-window))));
