$color-primary:#000;
$color-primary-hover:rgb(68, 68, 68);
$color-primary-active:rgb(95, 47, 47);
//$color-secondary:;
//$color-secondary-hover:;
//$color-secondary-active:;
//$color-black:;
//$color-grey:;
//$color-white:;