$color-primary:#000;
$color-primary-hover:#444444;
$color-primary-active:#848484;
//$color-secondary:;
//$color-secondary-hover:;
//$color-secondary-active:;
//$color-black:;
//$color-grey:;
//$color-white:;