@@include("_home.html",{})

<form id="" class="form js-form">
    <input class="form-input-title" type="hidden" name="form-title" value="">

    <div class="form-send">
        <div class="form-send__message">
            <div class="form-send__loading"><span></span></div>
            <p class="form-send__success">Спасибо, ваша заявка принята. Менеджер свяжется с вами в ближайшее время</p>
            <p class="form-send__error">Что-то пошло не так. Заявка не отправлена.</p>
        </div>
        <button type="submit" class="form-send__btn btn btn--primary btn--size-md">Перезвоните мне</button>    
    </div>
</form>